<footer class="app-footer">
  <div class="footer-social-links">
    <a href="URL_ZU_EUREM_INSTAGRAM_PROFIL" target="_blank" rel="noopener noreferrer"
       aria-label="Besuche uns auf Instagram">
      <mat-icon fontIcon="photo_camera"></mat-icon> </a>
    <a href="https://www.facebook.com/p/Quellegeister-Bad-Peterstal-eV-100064754254331/?locale=de_DE" target="_blank"
       rel="noopener noreferrer" aria-label="Besuche uns auf Facebook">
      <mat-icon fontIcon="facebook"></mat-icon>
    </a>
  </div>
  <div class="footer-copyright">
    &copy; {{ currentYear }} Quellgeister Bad Peterstal e.V.
  </div>
  <div class="legal-links">
    <a matButton [routerLink]="'/impressum'">Impressum</a>
    <a matButton [routerLink]="'/data-protection'">Datenschutz</a>
  </div>
</footer>
