<div class="container">
  <h1 class="centered-text">In Memoriam</h1>
  <br/>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-12" style="display:flex; text-align: center; font-weight: bold; align-content: center; justify-content: center">
          <h2>Michael Eggert</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="display:flex; text-align: center; font-weight: bold; align-content: center; justify-content: center">
            Gedanken, Augenblicke,<br/>
            sie werden uns immer an Dich erinnern und<br/>
            uns glücklich und<br/>
            traurig machen und<br/>
            uns Dich niemals vergessen lassen.
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <img class="img-responsive" src="/assets/michael2.jpeg" alt="Michael Eggert">
        </div>
        <div class="col-md-6">
          <img class="img-responsive" src="/assets/michael.jpg" alt="Michael Eggert">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
