<div class="container hide-on-mobile">
  <h1 class="centered-text">Willkommen bei den Quellegeistern!</h1>
  <br/>
  <div class="row">
    <div class="col-md-7">
      <mat-card class="content-col-8-section">
        <mat-card-header>
          <mat-card-title><h2>Neuigkeiten und Ankündigungen</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Unser nächstes Event - Narrenbaum Hock 2026</h3>
          <p style="text-align: left">
            Schnallt euch an, denn es ist wieder so weit: Der Narrenbaum muss stehen! Am Freitag,
            den 23. Januar 2026 heben wird der Narrenbaum wieder in die Senkrechte gehoben. Ein Spektakel, das ihr
            nicht verpassen dürft! 🎉
          </p>
          <img class="img-responsive" src="./assets/narrebaumhock26.png" alt="Flyer für den Oktober Gaudi 2025">
          <p style="text-align: left">
            Deshalb lädt die Truppe der Quellegeister zum gemütlichen Hock ein, um den Baum gebührend zu feiern.
            Neben wärmendem Glühwein und einer stärkenden Suppe gibt es natürlich auch den berühmt-berüchtigten
            "Heißen Quelli"! Perfekt, um sich aufzuwärmen und in geselliger Runde zu feiern.
          </p>
          <p style="text-align: left">
            Wir sehen uns unter dem Baum!🙌
          </p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-5">
      <mat-card class="countdown-section">
        <mat-card-header>
          <mat-card-title><h3>Countdown bis zur Fasent!🎉</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-countdown [targetDate]="nextFasent"></app-countdown>
        </mat-card-content>
      </mat-card>

      <mat-card class="instagram-section instagram-container">
        <mat-card-header>
          <mat-card-title><h2>Instagram-News</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="instagram-feed-container" [innerHTML]="instagramEmbedCode">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container show-on-mobile">
  <h1 class="centered-text">Willkommen bei den Quellegeistern!</h1>
  <br/>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="countdown-section">
        <mat-card-header>
          <mat-card-title><h2>Countdown bis zur Fasent!🎉</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-countdown [targetDate]="nextFasent"></app-countdown>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-12">
      <mat-card class="content-col-8-section">
        <mat-card-header>
          <mat-card-title><h2>Neuigkeiten und Ankündigungen</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3>Unser nächstes Event - Narrenbaum Hock 2026</h3>
          <p style="text-align: left">
            Schnallt euch an, denn es ist wieder so weit: Der Narrenbaum muss stehen! Am Freitag,
            den 23. Januar 2026 heben wird der Narrenbaum wieder in die Senkrechte gehoben. Ein Spektakel, das ihr
            nicht verpassen dürft! 🎉
          </p>
          <img class="img-responsive" src="./assets/narrebaumhock26.png" alt="Flyer für den Oktober Gaudi 2025">
          <p style="text-align: left">
            Deshalb lädt die Truppe der Quellegeister zum gemütlichen Hock ein, um den Baum gebührend zu feiern.
            Neben wärmendem Glühwein und einer stärkenden Suppe gibt es natürlich auch den berühmt-berüchtigten
            "Heißen Quelli"! Perfekt, um sich aufzuwärmen und in geselliger Runde zu feiern.
          </p>
          <p style="text-align: left">
            Wir sehen uns unter dem Baum!🙌
          </p>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="col-md-12">
      <mat-card class="instagram-section">
        <mat-card-header>
          <mat-card-title><h2>Neues von Instagram</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="instagram-feed-container instagram-container" [innerHTML]="instagramEmbedCode">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
