<div class="container">
  <h1>Impressum</h1>
  <h2>Quellegeister Bad Peterstal e.V.</h2>

  <p>1. Vorstand:<br />
    <br />
  Melina Kaufeisen<br />
  Buchenweg 5<br />
  77740 Bad Peterstal<br />

  E-mail: vorstand&#64;quellegeister.de</p>
  <p>
  Webmaster: Tobias Kirschke<br />
  E-mail: webmaster&#64;quellegeister.de<br />
    <br />
  Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV:<br />
    <br />
  Melina Kaufeisen und Tobias Kirschke<br />
    <br />
    <br />
  <strong>Haftungshinweis</strong><br />
    <br />
  Wir sind nur für den Inhalt der von uns gestalteten Seiten verantwortlich. Die gelinkten Seiten unterliegen nicht
  unserer Kontrolle, daher ist es uns nicht möglich, für deren Inhalte zu garantieren. Auf den überprüften Seiten
  konnten wir keinerlei pornographische, rassistische oder sonstige illegale Inhalte finden. Falls jemand feststellt,
  dass von uns gelinkte Seiten illegale Inhalte enthalten, sprich sich die Seiten seit unserer Prüfung geändert haben,
  bitten wir um Benachrichtigung. Eventuelle Links im Gästebuch unterliegen nicht unserer ständigen Kontrolle.
  Im Gästebuch entfernen wir Einträge, wenn durch sie massiv gegen geltendes Recht verstoßen wird.
  Des Weiteren wird an dieser Stelle darauf hingewiesen, dass alle erwähnten Produkt- oder Firmennahmen geschützte
  Marken der jeweiligen Inhaber sein können und hier nur zur Verdeutlichung und/oder Erklärung genutzt werden.<br />
    <br />
  Sollte sich jemand in seinem Persönlichkeitsrechts (§ 2 GG)verletzt fühlen, hat er das Recht, die Entfernung aller
  oder einiger Bilder, auf denen er zu sehen ist, zu verlangen. Sind die Bilder besonders aussagekräftig, behalten wir
  uns vor, die Bilder entsprechend zu verändern. Prinzipiell werden Personen, die auf Bildern zu sehen sind, nicht um
  Erlaubnis der Veröffentlichung gefragt. Einzige Ausnahme: Bilder die eindeutig als Verstoss gegen §185 StGB oder
  §186 StGB zu bewerten sind. Wenn ein Bild entfernt werden soll, ist dies dem Webmaster: webmaster&#64;quellegeister.de
  mitzuteilen.<br />
  </p>
</div>
