
.toolbar-title {
  margin-left: 16px; // Etwas Abstand zum Logo
}

.spacer {
  flex: 1 1 auto; // Sorgt dafür, dass der Button ganz rechts ist
}

.content {
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 90vw; // Für bessere Lesbarkeit auf großen Bildschirmen
  margin: auto auto; // Zentriert den Inhalt
}

mat-card {
  margin-top: 20px;
  padding: 24px 40px;
}

/* Headerbild Styling */
.header-image-container {
  width: 100%;
  overflow: hidden; /* Verhindert Scrollbalken, wenn das Bild überläuft */
  margin-bottom: 20px;
  padding: 0;
  //border-radius: var(--mat-sys-corner-large); /* Wenn du abgerundete Ecken wünschst */
}

.full-width-header-image {
  width: 100%;
  height: 60vh; /* Behält das Seitenverhältnis bei */
  display: block;
  object-fit: cover; /* Schneidet das Bild bei Bedarf zu, um den Container zu füllen */
  object-position: center 25%;
}

// Sicherstellen, dass der Sidenav-Container den verbleibenden Platz einnimmt
.sidenav-container {
  /* calc(100vh - Höhe der Toolbar) stellt sicher, dass der Container den restlichen Platz einnimmt */
  height: calc(100vh - 64px); /* 64px ist die Standardhöhe der Mat-Toolbar auf Desktop */
  display: flex; /* WICHTIG für das Layout des Sidenav-Containers */
  flex-direction: column; /* Optional, wenn du flexbox für die innere Anordnung nutzt */
}

/* Der Sidenav-Inhalt soll scrollbar sein */
.sidenav-content {
  height: 100%; /* Füllt die verbleibende Höhe im sidenav-container aus */
  overflow-y: auto; /* Das ist der Container, der scrollen soll */
  /* -webkit-overflow-scrolling: touch; */
  /* Für besseres Scrolling auf iOS */
}
