<div class="timeline-container" [style.color]="textColor">
  <div class="timeline-line-wrapper">
    <div #timelineLineRef class="timeline-line"
         [class.line-active]="isLineVisible()"
         [style.background-color]="lineColor">
    </div>
  </div>

  <div class="timeline-events-wrapper">
    <div class="timeline-event-row" *ngFor="let event of events; let i = index">

      <div class="col-md-5 timeline-col-content timeline-content-left">
        <mat-card *ngIf="!isEven(i)" [style.background-color]="cardBackgroundColor">
          <mat-card-header>
            <mat-card-title>
              <h3 class="event-title">{{ event.title }}</h3>
              <div class="event-date">{{ event.date }}</div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="event.description">{{ event.description }}</p>
            <h4 *ngIf="event.founders">Gründungsmitglieder waren:</h4>
            <br *ngIf="event.founders" />
            <ul *ngIf="event.founders">
              <li *ngFor="let founder of event.founders">{{ founder }}</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <div class="timeline-image-wrapper" *ngIf="isEven(i) && event.imageLeft">
          <img [src]="event.imageLeft" [alt]="event.title" class="timeline-image">
        </div>
      </div>

      <div class="col-md-2 timeline-middle-col">
        <div class="timeline-dot" [style.background-color]="dotColor">
          <mat-icon *ngIf="event.icon">{{ event.icon }}</mat-icon>
        </div>
      </div>

      <div class="col-md-5 timeline-col-content timeline-content-right">
        <mat-card *ngIf="isEven(i)" [style.background-color]="cardBackgroundColor">
          <mat-card-header>
            <mat-card-title>
              <h3 class="event-title">{{ event.title }}</h3>
              <div class="event-date">{{ event.date }}</div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p *ngIf="event.description">{{ event.description }}</p>
            <h4 *ngIf="event.founders">Gründungsmitglieder waren:</h4>
            <br *ngIf="event.founders" />
            <ul *ngIf="event.founders">
              <li *ngFor="let founder of event.founders">{{ founder }}</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <div class="timeline-image-wrapper" *ngIf="!isEven(i) && event.imageRight">
          <img [src]="event.imageRight" [alt]="event.title" class="timeline-image">
        </div>
      </div>
    </div>
  </div>
</div>
